﻿@model svg.ViewModels.ShelfDrawingViewModel

@{
    //kordy polygon
    int translateX = 0, translateY = 0;
    int frontX = 0, frontY = 0;
    int frontX1 = 0, frontY1 = 0;
    int backX = 0, backX1 = 0, backY = 0, backY1 = 0;

    int gap = 100, // skalowanie: przerwa między elementami i odglełość między poczatkiem półki a itemem
    posX = 200, // skalowanie: w prawo
    posY = 200, // skalowanie: w górę
    strokewidthitem = 20,// grubość obramowania itemu
    strokewidthshelf = 20;// grubość obramowania półki

    int itemcount = Model.ProductItems.Count();
    int extraspace = Model.Width + itemcount * gap + posX;
    int extraheight = Model.Height + posY + gap;
    int yrect = gap + posY;
}


<svg viewBox="0 0 @extraspace  @extraheight">
    <svg height="@extraheight" width="@extraspace">

        <rect x="0" y="@yrect" height="@Model.Height" width="@extraspace"
              style="fill:none;stroke:@Model.Color;stroke-width:@strokewidthshelf" />

        @foreach (var item in Model.ProductItems)
        {
            translateX += gap;
            translateY = extraheight - item.Height - gap; // pozycja elementu od początku półki
            frontX1 = item.Width + frontY;
            frontY1 = item.Height;
            backX = posX;
            backY = frontY - posY;
            backX1 = item.Width + backX;
            backY1 = backY + item.Height;

            <polygon id="front" points="@frontX @frontY,
                         @frontX @frontY1,
                         @frontX1 @frontY1,
                         @frontX1 @frontY"
                     style="fill:@item.Color;stroke:black;stroke-width:@strokewidthitem"
                     transform="translate(@translateX @translateY)" />

            <polygon id="top" points="
                         @frontX @frontY,
                         @backX @backY,
                         @backX1 @backY,
                         @frontX1 @frontY"
                     style="fill:@item.Color;stroke:black;stroke-width:@strokewidthitem"
                     transform="translate(@translateX @translateY)" />

            <polygon id="right" points="
                         @frontX1 @frontY1,
                         @backX1 @backY1,
                         @backX1 @backY,
                         @frontX1 @frontY"
                     style="fill:@item.Color;stroke:black;stroke-width:@strokewidthitem"
                     transform="translate(@translateX @translateY)" />

            translateX += item.Width;  // odległości między itemami
        }
    </svg>

</svg>